gen/PyYAML-5.1.dist-info/
gen/__pycache__/
gen/_yaml.cpython-37m-x86_64-linux-gnu.so
gen/aws
gen/awscli-1.16.209.dist-info/
gen/awscli-lambda-layer.zip
gen/awscli/
gen/botocore-1.12.199.dist-info/
gen/botocore/
gen/colorama-0.3.9.dist-info/
gen/colorama/
gen/dateutil/
gen/docutils-0.14.dist-info/
gen/docutils/
gen/easy_install.py
gen/jmespath-0.9.4.dist-info/
gen/jmespath/
gen/pip-19.2.1.dist-info/
gen/pip/
gen/pkg_resources/
gen/pyasn1-0.4.6.dist-info/
gen/pyasn1/
gen/python_dateutil-2.8.0.dist-info/
gen/rsa-3.4.2.dist-info/
gen/rsa/
gen/s3transfer-0.2.1.dist-info/
gen/s3transfer/
gen/setuptools-41.0.1.dist-info/
gen/setuptools/
gen/site-packages/
gen/six-1.12.0.dist-info/
gen/six.py
gen/urllib3-1.25.3.dist-info/
gen/urllib3/
gen/wheel-0.33.4.dist-info/
gen/wheel/
gen/yaml/